body{
    background-image: url('https://i.pinimg.com/originals/ae/74/46/ae74466588ae577ba8dc164696242cac.gif');
    background-size: cover; 
    /* background-position: center center; */
}

.scorreBord{
    /* border: solid; */
    width: 620px;
    height: 100vh;
    background-color: #00000065;
    color: #21ff08;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.scorreBord{
    overflow: auto;
}
.scorreBord h1{
    padding: 5px;
    border: solid black;
    color: red;
    background-color: rgb(40, 0, 34);
    height: 50px;
    text-align: center;
}

/* ---------------------------------------------screen ----------------------------------------- */
.screen{
    border: solid black;
    height: 95vh;
    width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}
.USSAssembly{
    margin: 10px;
    border: solid white;
    height: 15vh;
    display: flex;
    justify-content: center;
}
.USSAssembly img{
    height: 100%;
}
.attackingSpase{
    margin: 10px;
    /* border: solid; */
    height: 54.6vh;
    display: flex;
    justify-content: center;
    
}
.attackingSpase img{
    display: block;  
    width: 100%;
    opacity: 70%;
} 

.alienShipAttack{    
    transform: translateY(0px);  
    height: 15%;
    transition: transform 1s ease-in-out;
    transform: translateY(515px);
    display: none; 
}


.USSAttack {
    height: 15%;
    transition: transform 1s ease-in-out;
}

/* Initial State */
.USSAttack.start {
    transform: translateY(515px);
}

/* Active State */
.USSAttack.active {
    transform: translateY(0px);
}


.alienShip{
    margin: 10px;
    border: solid white;
    height: 15vh;
    display: flex;
    justify-content: center;
}
.alienShip img{
    height: 100%;
    display: none;
}
#alienShip1{
    display: block;
}
.function{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    /* gap: 5px; */
}
.function button{
    /* width: 33%; */
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;

}
.round li{
    border: solid;
    margin-top: 15px;
    padding: 13px;
    font-size: 30px;
}